@model IARehabilitation.web.Data.Entities.MedicalHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Sportsman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Sportsman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Professional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Professional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consulte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consulte.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjuriesDictionary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjuriesDictionary.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_MedicalHistory">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
