@model IEnumerable<IARehabilitation.web.Data.Entities.MedicalHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Sportsman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Professional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consulte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InjuriesDictionary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Sportsman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Professional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consulte.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InjuriesDictionary.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_MedicalHistory">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_MedicalHistory">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_MedicalHistory">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
