@model IARehabilitation.web.Data.Entities.InjuriesDictionary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InjuriesDictionary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injury_category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injury_category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Injury">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
